@font-face
{
    font-family:'Roboto-Regular';
    src:url('assets/fonts/Roboto-Regular.ttf');
}

            /*HOME PAGE*/

#background-home{
    width:100%;
    background-image: url('../images/home_banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}

.image-home-hero{
    padding-top: 1%!important;
    margin-left: 25%!important;
    width: 25%;
}

.home-banner--titles{
    margin-right: 25%!important;
}

.blockquote, .blockquote-footer{
    color: white;
}

.title-white-shadow
{
    text-align:center;
    color: white;
    text-shadow:2px 2px #333;
}
.title-gray-shadow{
    text-align:center;
    color: black;
}
h3
{
    font-size:1.3em;
    margin-bottom:0;
}
.news p
{
    margin-top:0;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}

.home--pitch-card{
    margin-top: 4%;
    margin-bottom: 4%;
}

.home--center--picture{
    width:60%;
}

                /* COMMENTARY */

#post-comment{
    padding-top: 3.5%;
}

                /* ADMIN PAGE */
.admin-hero{
    background-image: url('../images/banniere1.jpg');
    background-repeat: no-repeat;
    margin-bottom: 2.5%;
}

.home--h2{
    font-family:"Roboto-Regular";
}

.admin-hero--container{
    padding: 2% 4%;
}

.admin--quit-page-link{
    color: gold;
    text-shadow:2px 2px #333;
}

.admin--quit-page-link:hover{
    color: #60A5FF;
}

#message{
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}

.adminView--publish-btn{
    margin-top:1%!important;
}

.admin--old-chapter{
    color: black;
    margin-bottom: 3%;
    text-align: center;
}

.adminView--btn-all-chapters{
    text-align: center!important;
    margin-bottom: 2%!important;
}

.bd-highlight{
    margin: auto;
}

                /* UPDATE POST VIEW PAGE */
.updatePostView--form{
    margin: 3% 0;
}

.updatePostView--form--content{
    margin-top: 1%;
}

.updatePostView--form--btns{
    margin-top: 2%;
}

.updatePostView--form--btns--edit{
    margin-right: 1%;
}

.updatePostView--banner{
    background-image: url('../images/updateview.jpg');
    background-repeat: no-repeat;
    background-position: 50% 60%;
}

.updatePostView--title{
    color: white;
}

                /* TINY MCE */
.tox-tinymce{
    width:900px;
}

                /* ADMIN COMMENTARY PAGE */
.adminCommentaryView--comment-container{
    margin: 3% 0;
}

                /* LIST POSTS VIEW PAGE */
.banner-listPostsView{
    background-image: url('../images/banniere2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-listPostsView--text{
    color: black;
    text-shadow: 2px 2px #d5d5d5;
}

.banner-listPostsView--blockquote{
    text-shadow: 1px 1px #d5d5d5;

}

.listPostsView--img-chapter{
    width: 50%;
    margin:auto;
}

                /*POST VIEW PAGE */
.postView--link-return--btn{
    margin: 1%;
}

.postView--form-comment{
    margin-bottom: 3%;
}

.postView--comment-msg{
    margin-bottom: 3%!important;
}

.postsView--img-chapter{
    width: 75%;
    margin:auto;
}

                /* ERROR VIEW PAGE */
.errorView--banner {
    background-image: url('../images/singe_surpris.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.errorView--text{
    color:black;
}

                /* GALLERY VIEW PAGE */
.banner-galleryView{
    background-image: url('../images/banner_gallery.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding:0;
    margin:0;
}

#galleryView-section{
    width: 70%;
    overflow: hidden;
    position: relative;
    margin: auto;
}

#slider-container{
    display: flex;
    width: 400%;
    transition: ease 2s;
    z-index: 1000;
}

.slider-container--block{
    display : flex;
    justify-content: center;
    align-items: center;
    width : 100%;
    position: relative;
    z-index: 1000;
    pointer-events: none;
}

.slider-container--block--texts{
    position: absolute;
    top:0;
    left:10%;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    color: rgb(228, 228, 228);
}

.galleryView-slider--text{
    font-family: "Roboto-Regular";
    color: black;
    text-shadow: 1px 1px #f3ffe3;
    text-align: center;
}

.galleryView-slider--img{
    width: 100%;
}

.slider-container--img{
    width: 29%;
    border-radius: 10px;
    border: 15px solid rgba(57,204,204,0.8);
}
.galleryView-slider--img-1{
    width:85%;
}

.galleryView-slider--img-2{
    width:88%;
}

.galleryView-slider--img-3{
    width:88%;
}

.galleryView-slider--img-4{
    width:95%;
}

.galleryView--container--pictures{
    width: 30%!important;
}

            /* BUTTONS SLIDER */
.chevrons{
    width: 3.5%;
    position: absolute;
    top: 40%;
    opacity: 0.6;
    z-index: 1000000;
}

.chevrons:hover{
    transition: ease 2s;
    opacity: 1;
    cursor: pointer;
}

#chevrons-left{
    left: 0;
    padding-left: 1%;
}

#chevrons-right{
    right: 0;
    padding-right: 1%;
}

#pauseBtn{
    left: 3.5%;
    width: 2.7%;
    top: 39.5%;
}

                /*AUTHOR PAGE*/
.banner-authorView{
    background-image: url('../images/knowledge-1052011_1920.jpg');
    background-position: 50% 65%;
    background-repeat: no-repeat;
}

.banner-authorView--text{
    text-align:center;
    color: black;
    text-shadow: 2px 2px #d5d5d5;
}

.authorView--page--picture1{
    width:50%;
}

.authorView--page--text{
    margin: 3% 0;
    font-size: 1.3em;
}

.authorView--page--title{
    margin-top: 3%;
}

.authorView--page--blockquote{
    color:black;
}

                /*CONTACT PAGE*/
.banner-contactView{
    background-image: url('../images/lamp-2903830_1920.jpg');
    background-position: 50% 70%;
    background-repeat: no-repeat;
}

                /*RESPONSIVE*/
@media screen and (max-width: 768px){
    .news
    {
        width:100%;
        margin:auto;
    }

    .display-4{
        font-size: 3rem!important;
    }

    .authorView--page--picture1{
        width:80%;
    }
}

