#background-home{
    width:100%;
    background-image: url('../images/alaska-2964658_1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}

.image-home-hero{
    padding-top: 1%!important;
}

.blockquote, .blockquote-footer{
    color: white;
}

.title-white-shadow
{
    text-align:center;
    color: white;
    text-shadow:2px 2px #333;
}
.title-gray-shadow{
    text-align:center;
    color: black;
}
h3
{
    font-size:1.3em;
    margin-bottom:0;
}
.news p
{
    margin-top:0;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}

.home--pitch-card{
    margin-top: 4%;
    margin-bottom: 4%;
}

            /* COMMENTARY */

#post-comment{
    padding-top: 3.5%;
}

                /* ADMIN PAGE */
.admin-hero{
    background-image: url('../images/chap-img-1.jpg');
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 2.5%;
}

.admin-hero--container{
    padding: 2% 4%;
}

.admin--quit-page-link{
    color: gold;
    text-shadow:2px 2px #333;
}

.admin--quit-page-link:hover{
    color: #60A5FF;
}

#message{
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}

.adminView--publish-btn{
    margin-top:1%!important;
}

.admin--old-chapter{
    color: black;
    margin-bottom: 3%;
    text-align: center;
}

.adminView--btn-all-chapters{
    text-align: center!important;
    margin-bottom: 2%!important;
}

.bd-highlight{
    margin: auto;
}

                /* UPDATE POST VIEW PAGE */
.updatePostView--form{
    margin: 3% 0;
}

.updatePostView--form--content{
    margin-top: 1%;
}

.updatePostView--form--btns{
    margin-top: 2%;
}

.updatePostView--form--btns--edit{
    margin-right: 1%;
}

.updatePostView--banner{
    background-image: url('../images/updateview.jpg');
    background-repeat: no-repeat;
    background-position: 50% 60%;
}

.updatePostView--title{
    color: white;
}

                /* TINY MCE */
.tox-tinymce{
    width:900px;
}

                /* LIST POSTS VIEW PAGE */
.banner-listPostsView{
    background-image: url('../images/hero-chapters.jpg');
    background-position: 50% 65%;
    background-repeat: no-repeat;
}

.banner-listPostsView--text{
    text-align:right;
    color: black;
    text-shadow: 2px 2px #d5d5d5;
}

.banner-listPostsView--blockquote{
    text-shadow: 1px 1px #d5d5d5;

}

                /*POST VIEW PAGE */
.postView--link-return--btn{
    margin: 1%;
}

.postView--form-comment{
    margin-bottom: 3%;
}

.postView--comment-msg{
    margin-bottom: 3%!important;
}

/* LIST POSTS VIEW PAGE */
.errorView--banner {
    background-image: url('../images/chap-img-4.jpg');
    background-position: 50% 58%;
    background-repeat: no-repeat;
}

.errorView--text{
    color:black;
}

@media screen and (max-width: 768px){
    .news
    {
        width:100%;
        margin:auto;
    }

    .display-4{
        font-size: 3rem!important;
    }
}
